#shortener.row(style="margin-top: 40px;")
  %form{:id => 'add-form',:name => "shortener", :action => "/add", :method => "post", :class => 'offset3 form'}
    %label{:for => "shortener[url]"} Url to Shorten:
    %input{:type => "text", :name => "shortener[url]", :class => "text"}
    %input{:type => "submit", :value => "Shorten", :class => "btn primary"}


