%form{:name => "shortener", :action => "/add", :method => "post"}
  %label{:for => "shortener[url]"} Url to Shorten:
  %br
  %input{:type => "text", :name => "shortener[url]", :class => "text"}
  %br
  %input{:type => "submit", :value => "RSVP", :class => "button"}


