%br
%br
:css
  img {
    max-width: 100%;
  }

.row
  %a.center{href: @short['url']}
    %img{src: @short['url']}

.row
  %p
    %b Name: 
    = @short['name']

.row
  %p
    %b Descrtiption: 
    %br
    = @short['description']

:css
  .center {
    margin: 0 auto;
    padding: 0;
  }
