#shortener.row(style="margin-top: 40px;")
  %form{:id => 'add-form',:name => "shortener", :action => "/add", :method => "post", :class => 'offset2 form-horizontal'}
    .control-group
      %label.control-label{:for => "shortener[url]"} Url to Shorten:
      .controls
        %input{:type => "text", :name => "shortener[url]", :class => "text"}
        %input{:type => "submit", :value => "Shorten", :class => "btn primary"}
        %a{:onClick => '$(".advanced").fadeIn();'} Show Advanced Options
    .control-group
      %label{:for => 'shortener[expire]', :class => 'control-label advanced'} Time till Expired:
      .controls
        %input{:type => 'text', :name => 'shortener[expire]', :class => 'text advanced'}
    .control-group
      %label{:for => 'shortener[max-clicks]', :class => 'control-label advanced'} Max Clicks:
      .controls
        %input{:type => 'text', :name => 'shortener[max-clicks]', :class => 'text advanced'}
    .control-group
      %label{:for => 'shortener[desired-short]', :class => 'control-label advanced'} Desired Short:
      .controls
        %input{:type => 'text', :name => 'shortener[desired-short]', :class => 'text advanced'}
    .control-group
      %label{:for => 'shortener[allow-override]', :class => 'control-label advanced'} Allow Random Override:
      .controls
        %input{:type => 'checkbox', :name => 'shortener[allow-override]', :class => 'text advanced', :value => 'true'}
    :javascript
      $(function(){
        $('.advanced').hide();
      })
