!!!
%html
  %head
    %title Shortener
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/bootstrap-responsive.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/shortener.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/colorbox.css'}
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type: 'text/javascript'}
    %script{src: '/js/site.js', type: 'text/javascript'}
    %script{src: '/js/jquery.colorbox.js', type: 'text/javascript'}
    %script{src: '/js/bootstrap.min.js', type: 'text/javascript'}
    %script{src: '/js/jquery.tablesorter.min.js', type: 'text/javascript'}
  %body{:'padding-top' => '60px'}

    %div.navbar
      %div.navbar-inner
        %div.container
          %a{class: 'brand', href: "/"} Shortener
          %ul.nav
            - if available?('add')
              %li
                %form{:id => 'nav-add-form',:name => "shortener", :action => "/api/v1/add", :method => "post", :class => 'navbar-search pull-left'}
                  %input{:type => "text", :name => "shortener[url]", :class => "search-query span2", placeholder: 'Shorten'}
            - if available?('index')
              %li
                %a{href: '/v/index'} Index
            - if available?('aadd')
              %li
                %a.colorbox{href: '/v/add'} Advanced Add
            - if $conf.s3_available && available?('upload')
              %li
                %a.colorbox{href: '/v/upload'} Upload
          %ul.nav.pull-right
            - if $conf.authenticate?
              - if logged_in?
                %li.pull-right
                  %a{href: '/api/v1/u/logout', class: 'pull-right'} Log Out
                %li.pull-right
                  %a{href: '/u/edit', class: 'pull-right'} Edit Me
              - else
                %li.pull-right
                  %a{href: '/u/login', class: 'pull-right'} Log In
                - if $conf.allow_signup
                  %li.pull-right
                    %a{href: '/u/signup', class: 'pull-right'} Sign Up


    #main.container(style="margin-top: 40px;")
      = yield
